@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("./img/mario.jpg"); /* Substitua pelo caminho da sua imagem */
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

.buscar,
.buscar::placeholder {
  background-color: #be3144;
  color: #d7d7d7;
  height: 30px;
}

.promoCard {
  width: 280px;
  transition: transform 0.2s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5),
    #541628,
    #541628
  );
}

.promoCard:hover {
  transform: scale(1.03);
}

.desconto {
  background-color: #be3144;
  color: #fff;
}

.corValor {
  color: #fff;
}

#addCarrinho:hover {
  background-color: #be3144;
}

#addCarrinho:disabled {
  background-color: #be3144;
}

input.form-control:focus {
  box-shadow: none;
}

.navbar {
  background: linear-gradient(to right, #be3144, #541628, #541628, #be3144);
}

button {
  background-color: #be3144;
  
}

.dvh-100 {
  height: 100dvh;
}

.quantidade-jogos {
  color: white; /* Define a cor dos números como branco */
}

.bi-trash {
  color: white !important; /* Define a cor do ícone como branco */
}




